body {
    font-family: "Montserrat", sans-serif;
}

.zagolovok {
    font-size: 60px;
    text-align: center;
    color: #4b4b72;
    font-weight: 400;
    
}

.kartochka {
    background-color: #F7F7FA;
    padding: 20px;
    margin-bottom: 30px;
    width: 295px;
}
.tip-koji {
    font-size: 14px;
    color: #8f8f8f;
}

.nazvanie {
    font-size: 32px;
    color: #4b4b72;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.opisanie {
    font-size: 18px;
    color: #666666;
    margin-bottom: 20px;
}

.sostav {
    font-size: 18px;
    color: #4b4b72;
    font-weight: 600;
    margin-bottom: 10px;
}

.spisok {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    color: #4b4b72;
    margin-right: 10px;
}

.price-tag {
    font-size: 28px;
    color: #4b4b72;
    font-weight: 700;
}
.kartinka {
    margin-bottom: 20px;
}
/* Homework 3 */